<!DOCTYPE html>
<head xmlns:th="http://www.thymeleaf.org">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css'/>
    <link th:href="@{css/style-responsive.css}" rel="stylesheet"/>
    <!-- font CSS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link rel="stylesheet" th:href="@{/css/font.css}" type="text/css"/>
    <link th:href="@{css/font-awesome.css}" rel="stylesheet">
    <!-- //font-awesome icons -->
    <script th:src="@{/js/jquery2.0.3.min.js}"></script>
</head>
<body>
<div class="log-w3">
    <div class="w3layouts-main">
        <h2>登录你的账户</h2>
        <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <form th:action="@{/login_check}" method="post">
            <input name="username" type="email" class="ggg" placeholder="用户名" required="">
            <input name="password" type="password" class="ggg" placeholder="密码" required="">
            <span><input type="checkbox"/>记住用户</span>
            <h6><a href="#">忘记密码？</a></h6>
            <div class="clearfix"></div>
            <input type="submit" value="登录" name="login">
        </form>
        <p>没有账户？<a href="/regist">创建一个账户</a></p>
    </div>
</div>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/jquery.dcjqaccordion.2.7.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<script th:src="@{/js/jquery.nicescroll.js}"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script th:src="@{/js/jquery.scrollTo.js}"></script>
</body>
</html>
